@model IEnumerable<Domain.SupportTicket>

@{
    ViewData["Title"] = "Tickets";
}

<h1>Active tickets</h1>

<div class="row">
    <div class="index-list">
        <table class="index-list-table">
            <thead>
                <tr class="">
                    <th class="col-md-2 text-center">
                        Title
                    </th>
                    <th class="col-md-5 text-center">
                        Description
                    </th>
                    <th class="col-md-2 text-center">
                        Time opened
                    </th>
                    <th class="col-md-2 text-center">
                        Deadline
                    </th>
                    <th  class=" col-md-1 text-center">
                        Close
                    </th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    // Critical colour formatting logic
                    var remainingTime = item.DueTime.Subtract(DateTime.UtcNow);
                    var criticalStyle = remainingTime.TotalMinutes < 60 ? "color:Red" : null;

                    // Formatted time strings
                    var timeCreated = item.TimeCreated.ToLocalTime().ToString("HH:mm dd.MM.yy");
                    var dueTime = item.DueTime.ToLocalTime().ToString("HH:mm dd.MM.yy");
                    <tr>
                        <td class="col-md-2 index-list-item" style="@criticalStyle">
                            @Html.DisplayFor(modelItem => item.Title)
                        </td>
                        <td class="col-md-5 index-list-item" style="@criticalStyle">
                            @Html.DisplayFor(modelItem => item.Body)
                        </td>
                        <td class="col-md-2 index-list-item">
                            @Html.DisplayFor(modelItem => timeCreated)
                        </td>
                        <td class="col-md-2 index-list-item" style="@criticalStyle">
                            @Html.DisplayFor(modelItem => dueTime)
                        </td>

                        <td class=" col-md-1 text-center">
                            <a asp-action="CloseTicket" asp-route-id="@item.Id">
                                <img src="~/images/checkmark.png" />
                            </a>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>

<p>
    <a asp-action="Create">Create New</a>
</p>
